<script type="text/javascript" src="/resource/js/bundle{{clientVersion}}.js"></script>
<link type="text/css" rel="stylesheet" href="/resource/css/cs{{clientVersion}}.css"/>

<link type="image/x-icon"  href="/branding/{{favIcon}}" rel="shortcut icon"/>
	{{{meta}}}
	{{{html}}}
<script id="documentState" type="application/json">{{{state}}}</script>
</head>
<body class="scrollbar customScroll"  style="-webkit-overflow-scrolling: touch;">
<div id="renderingDiv" class="container-fluid" style="max-width:100%;overflow:hidden">
{{{dynamicContentDiv}}}
</div>
<div id="dialogBoxDiv"></div>
<div id="dialogBoxDiv2"></div>
<div id="lookUpDialogBox" class=""></div>
<div id="bottomNav" class="bottomNav"></div>
<img id="ajax-loader" alt="{{title}} loader" class="loader" style="display:none;" src="/branding/{{loader}}"  />
<div id="imageCropDiv"></div>
<div id="foregroundDiv"></div>
<a href="#" class="scrollup sleekIcon-arrows_up fa fa-3x"></a>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
