<script type="text/javascript" src="/resource/js/bundle{{clientVersion}}.js"></script>
<link type="text/css" rel="stylesheet" href="/resource/css/cs{{clientVersion}}.css"/>
	<link type="image/x-icon"  href="/branding/{{favIcon}}" rel="shortcut icon"/>
		{{{meta}}}
		{{{html}}}
	<script id="documentState" type="application/json">{{{state}}}</script>
	</head>
	<body class="scrollbar customScroll" style="-webkit-overflow-scrolling: touch;">
		<div id="fb-root"></div>
			<div class="page-container" style="max-width:100%;overflow:hidden" >
				<!-- React Social header -->
			    <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:52px">
			       <div class="container">
			    	<div class="navbar-header  col-lg-3 col-md-3 col-sm-3 col-xs-12">
			        	<button type="button" id="topNav"  class="navbar-toggle " data-toggle="offcanvas" data-target=".sidebar-nav">
			            	<span class="sleekIcon-toggle"></span>
			           	</button>
			         	<div class="remove-margin-bottom  pull-left link" ><img alt="{{title}} logo" src="/branding/{{logo}}" class="branding h5"></div>
			    	</div>
			    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
			    	<div class="search col-lg-3 col-md-3 col-sm-3 col-xs-12 hidden" id="search"></div>
			    		<div id="loginButton" class="search col-lg-1 col-md-1 col-sm-2 col-xs-3 h5 pull-right">
							<button style="background-color:#eb5433 !important;color:white;" class="form-control">LOGIN</button>
						</div>
					</div>
			   </div>
      			<!--React Social body -->
   			 <div class="container" style="padding:0px" id="mainContainer">
      			<div class="row row-offcanvas row-offcanvas-left" style="margin:0px">
        			<!-- sidebar part start-->
       				<div class="col-xs-12 col-sm-3 col-lg-2 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
				    	<div class="row">
				    		 <div id="loginButton" class="search col-lg-11 col-md-11 col-sm-11 col-xs-11 h5 pull-right">
								<button style="background-color:#eb5433 !important;color:white;" class="form-control">LOGIN</button>
							</div>
				        	<div  id="userPhoto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ></div>               
						</div>
				        <div class="row">
				        	<div class="mobileSearch" id="mobileSearch"></div>
				            <div id="adminNav"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ></div>   
			                	<div id="mainNavigation"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12  {{title}}"   style="{{navBarStyle}}">
							  		{{{mainNavigation}}}
			                  	</div>   
			             	</div>
       				 </div>
  				     <!-- sidebar part close-->
  				     <!-- main area start-->
	        		 <div class="col-xs-12 col-sm-9  col-lg-10 col-md-10 ">
				     	<div class="row">
				     	
				       		 <!--  <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 " id="loginDiv" ></div>-->
				        	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mobile-no-padding hidden" id="bannerDiv"></div>
				            <div id="landingPage"  class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mobile-no-padding"></div>
							</div>
				            <div class="row no-margin">
				            	<div id="pageStatus" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "></div>
				                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 " style="min-height:750px" id='dynamicContentDiv' >
				                	{{{dynamicContentDiv}}}
			                 	</div>
								<div class="col-lg-3 col-md-3  " id='rightContentDiv'></div>
							</div>		
	                  </div>
                  <!-- main area close-->
    		 </div><!--/.row-offcanvas-->
          </div><!--/.container-->
	    </div><!--/.page-container-->
	    <div id="dialogBoxDiv"></div>
	    <div id="dialogBoxDiv2"></div>
	    <div id="lookUpDialogBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	    <!-- footer start -->
		<footer class="footer margin-top-gap-lg col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group bottomNavFooterMargin" style="{{footerStyle}}" >
			<div class="" id="footer">{{{footerContent}}}</div>
		</footer>
		<!-- footer close -->
		<div id="bottomNav" class="bottomNav"></div>
		<img id="ajax-loader" class="loader" alt="{{title}} logo" style="display:none;"  src="/branding/{{loader}}"  />
		<div id="imageCropDiv"></div>
		<a href="#" class="scrollup sleekIcon-arrows_up fa fa-3x"></a>
		<div id="foregroundDiv"></div>	
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
