	<link type="image/x-icon"  href="/branding/{{favIcon}}" rel="shortcut icon"/>
		{{{meta}}}
		{{{html}}}
	<script id="documentState" type="application/json">{{{state}}}</script>
	</head>
	<body class="scrollbar customScroll" style="-webkit-overflow-scrolling: touch;">
		<div id="fb-root"></div>
			<div class="container-fluid" style="max-width:100%;overflow:hidden" >
				<!-- React Social header -->
			    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
			    	<div class="navbar-header" style="float: none">
			           <button id="topNav" data-target=".navbar-collapse-1" data-toggle="collapse" class="navbar-toggle " type="button">
		                    <span class="sleekIcon-toggle"></span>
		                </button>
				        <div class="link"><img  alt="{{title}} logo" src="/branding/{{logo}}" class="branding " style=""></div>
				    </div>
			    </div>
      			<!--React Social body -->
      			<div class="row" style={{navBarStyle}}>
	      			<div id="mainNavigation"  class="col-lg-10 col-md-10 col-sm-6 col-xs-12 {{title}}" style="min-height: 0px!important;">
				  		{{{mainNavigation}}}
				  	</div>
				  	<div id="loginButton" class="search col-lg-1 col-md-1 col-sm-1 col-xs-3 h5 pull-right">
						<img alt="{{title}} login" src="/branding/login.jpeg" style="" class="profilePhoto ">
					</div>
				  	<div id="userPhoto" class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center pull-right search" style="min-height: 0px!important;"></div>
				 </div>
				 <div  class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  navbar-collapse-1 summaryNav " >
				 		 <ul class="navbar-collapse" id="summaryNav"></ul>
				  </div>
   				<div class="container" style="padding-top:40px" id="mainContainer">
      			<div class="row row-offcanvas row-offcanvas-left" >
  				    <!-- main area start-->
					<div class="row">
						<!-- sidebar part start-->
						<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 sidebar-offcanvas"  style="min-height: 0px" id="sidebar" role="navigation">
							<div class="row">
								<div class="mobileSearch" id="mobileSearch"></div>
							</div>
						</div>
						<!-- sidebar part close-->
				        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mobile-no-padding hidden" id='bannerDiv'></div>
				      	<div id="landingPage"  class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mobile-no-padding"></div>
					</div>
				    <div class="row row remove-margin-right remove-margin-left">
				        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 " id="loginDiv"  ></div>
				      	<div id="sideFilterNavigation" role="navigation"></div>
				            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 " style="min-height:750px" id='dynamicContentDiv' >
				            		{{{dynamicContentDiv}}}
			                </div>
						<div class="col-lg-3 col-md-3  " id='rightContentDiv'></div>
		            </div>		
                  	<!-- main area close-->
    			</div><!--/.row-offcanvas-->
          	</div><!--/.container-->
	     </div><!--/.page-container--> 
	     <div id="dialogBoxDiv"></div>
	     <div id="dialogBoxDiv2"></div>
	     <div id="lookUpDialogBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
	     <!-- footer start -->
		<footer class="footer margin-top-gap-lg col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group bottomNavFooterMargin  {{title}}" style={{footerStyle}} >
			<div class="" id="footer">{{{footerContent}}}</div>
		</footer>
		<!-- footer close -->
		<div id="bottomNav" class="bottomNav"></div>
		<img id="ajax-loader" class="loader" alt="{{title}} logo" style="display:none;" src="/branding/{{loader}}" />
		<div id="imageCropDiv"></div>
		<div id="foregroundDiv"></div>	
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>